body {
    margin: 0;
    font-family: "Comic Sans MS", Arial;
    background: linear-gradient(135deg, #6dd5ed, #2193b0);
    overflow: hidden;
    text-align: center;
}

/* CANVAS */
canvas {
    background: white;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    position: relative;
    z-index: 1;
    pointer-events: auto;
}

/* MENU */
#menuScreen {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;

    background: rgba(0,0,0,0.25);
    z-index: 20;
}

/* TITLE */
h1 {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

/* BUTTONS */
button {
    padding: 18px 40px;
    font-size: 22px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4);
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

/* HUD */
#hud {
    position: absolute;
    top: 10px;
    left: 10px;

    background: rgba(255,255,255,0.85);
    padding: 12px 15px;
    border-radius: 12px;

    font-size: 18px;
    font-weight: bold;

    display: none;
    z-index: 30;
}

/* CONGRATS */
#congratsScreen {
    position: fixed;
    inset: 0;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.75);
    color: white;
    font-size: 32px;

    z-index: 99999;
}

/* MOBILE */
@media (max-width: 768px) {
    canvas {
        width: 95%;
        height: auto;
    }

    button {
        font-size: 18px;
        padding: 14px 28px;
    }

    h1 {
        font-size: 36px;
    }
}
